@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
.Logo{
  text-align: center;
}
.Logo img{
  width: 20rem;
  height: 20rem;
}
.Menu{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.Menu a{
  text-decoration: none;
  color:darkgray;
}
.right{
  background-color:snow;
}
.right .Title{
  height: 10rem;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid  darkgray;
}
.right .Title button{
  background-color: red;
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
.right .search{
  height: 10rem;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
.right .search input{
  width: 30rem;
}
.right .search .delete{
  background-color: white;
  width: 10rem;
  height: 4rem;
  border :1px solid black;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.right .search .add{
  background-color: white;
  width: 10rem;
  height: 4rem;
  border :1px solid black;
  border-radius: 2rem;
  margin-bottom: 2rem;
  background-color: green;
}
.right .content {
  height: 450px;
  overflow :scroll;
  margin: 2rem;
}