@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
a{
    display: block;
    text-decoration: none;
    margin: 2em;
    font-size: 1.2rem;
    color: black;
}
i{
    color:black;
}
.Title{
    font-size: 2rem;
    color :red;
    text-align :center;
    margin: 2rem;
}
